// Display value list
$displays: none, block, flex, grid, inline, inline-block, inline-flex,
  inline-grid;

$positions: (
  static,
  relative,
  absolute,
  fixed,
  sticky,
  inherit,
  initial,
  revert,
  unset
);

$locations: (left, top, right, bottom);

$flexes: (
  justify-self: (
    auto,
    normal,
    stretch,
    center,
    start,
    end,
    flex-start,
    flex-end,
    self-start,
    self-end,
    left,
    right,
    baseline,
    inherit,
    initial,
    revert,
    unset,
  ),
  justify-items: (
    auto,
    normal,
    stretch,
    center,
    start,
    end,
    flex-start,
    flex-end,
    self-start,
    self-end,
    left,
    right,
    baseline,
    inherit,
    initial,
    revert,
    unset,
  ),
  justify-content: (
    center,
    start,
    end,
    flex-start,
    flex-end,
    left,
    right,
    normal,
    space-between,
    space-around,
    space-evenly,
    stretch,
    inherit,
    initial,
    revert,
    unset,
  ),
  align-content: (
    center,
    start,
    end,
    flex-start,
    flex-end,
    normal,
    baseline,
    space-between,
    space-around,
    space-evenly,
    stretch,
    inherit,
    initial,
    revert,
    unset,
  ),
  align-items: (
    normal,
    stretch,
    center,
    start,
    end,
    flex-start,
    flex-end,
    baseline,
    inherit,
    initial,
    revert,
    unset,
  ),
  align-self: (
    auto,
    normal,
    center,
    start,
    end,
    self-start,
    self-end,
    flex-start,
    flex-end,
    baseline,
    stretch,
    inherit,
    initial,
    revert,
    unset,
  ),
);

//Responsive sizes list
$size-units: (
  'rem': 1,
  'pr': 5,
  'vh': 5,
  'vw': 5,
);
// List of keywords for classes
$keywords: (
  w: width,
  h: height,
  p: padding,
  px: (
    padding-left,
    padding-right,
  ),
  py: (
    padding-top,
    padding-bottom,
  ),
  pl: padding-left,
  pt: padding-top,
  pr: padding-right,
  pb: padding-bottom,
  m: margin,
  mx: (
    margin-left,
    margin-right,
  ),
  my: (
    margin-top,
    margin-bottom,
  ),
  ml: margin-left,
  mt: margin-top,
  mr: margin-right,
  mb: margin-bottom,
);

// List of breakpoints sizes for responsivity
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// Variables for mutations
$unitsign: '';
$step: null;
$argname: null;
