@import '_variables';
@import '_functions';

* {
  font-family: 'Permanent Marker', cursive;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
}

.armor {
  color: rgb(100, 100, 0);
}
.str {
  color: rgb(100, 0, 0);
}
.agi {
  color: rgb(0, 100, 0);
}
.int {
  color: rgb(0, 0, 100);
}
